<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <link rel="icon" href="{{ .Site.Params.favicon }}" type="image/png">
  <link rel="icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="/path/to/apple-touch-icon.png">
  {{ if .Site.Params.googleAnalytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ .Site.Params.googleAnalytics }}');
    </script>
  {{ end }}

</head>
<body>
  <header>
    <img src="{{ .Site.Params.avatar }}" alt="Avatar" loading="eager">
    <h1>{{ .Site.Title }}</h1>
    <p>{{ .Site.Params.description }}</p>
  </header>
</body>
</html>
